@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;

}

nav a {
    text-decoration: none;
    padding: 15px;
    color: #125486;
    display: block;
}

nav .active, nav a:hover {
    background-color: #129999;
    color: white;
}